body {
    margin: 0;
}

.conteudo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diasSemana {
    display: flex;
    justify-content: space-around;
}

.agenda {
    width: 80%;
    margin: 10px;
}

.boxDiaSemana {
    border-top: 1px solid;
    width: -webkit-fill-available;
    border-bottom: 1px solid;
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.boxDiaSemana p {
    font-weight: bold;
    font-size: medium;
    color: blue;
}

.boxDiaSemanaUltimo {
    border-right: 1px solid;
}

.boxDiaMes {
    border-top: 1px solid;
    width: -webkit-fill-available;
    border-bottom: 1px solid;
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.diasMes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.semanasMes {
    display: flex;
}

.menu {
    width: -webkit-fill-available;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.menu input {
    margin-right: 15px;
    margin-left: 5px;
}

.modal {
    background-color: #b2bec1;
    width: 50%;
    height: -webkit-fill-available;
    position: absolute;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 15px;
    display: none;
}

.cabecalhoModal {
    display: flex;
    justify-content: end;
    margin-right: 25px;
    margin-top: 15px;
}

.listaItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnModalRemover {
    height: -webkit-fill-available;
}

.alinhaTextoCentro {
    text-align: center;
}